<h2>Your Cart</h2>

<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td>Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<div class="button btn-group">
  <%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-primary button" %>
  <%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary button" %>
</div>
