<div class="col-sm-6 col-lg-4">
  <div class="#">
    <div class="#">
      <h4 class="title"><%= link_to product.title, product %></h4>
      <!-- <p class="text"><%= product.description %></p> -->
    </div>
  </div>
</div>
