<p id="notice"><%= notice %></p>
<div class="row">
  <h1 class="col col-md-10">Records</h1>
  <span class="listing col col-md-2"><%= link_to 'New Listing', new_product_path %></span>
</div>

<div class="row">
  <%= render @products %>
</div>
